  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0;
    list-style-type: none;
  }
  
  main {   
    height: calc(100vh - 160px); /* Adjusts for header and footer heights */
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    }
    .home {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgba(0, 0, 0, 0.826), rgba(0, 0, 0, 0.721)),
                    url('../../Images/DALL·E\ 2024-10-16\ 13.41.37\ -\ A\ visual\ representation\ of\ a\ creative\ individual\ who\ is\ both\ a\ designer\,\ developer\,\ and\ skilled\ in\ teaching.\ The\ image\ should\ depict\ elements\ that\ rep.webp');
        background-size: cover; /* Ensures the image covers the entire area */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-position: center; /* Centers the image within the container */
        color: white; /* Sets the text color to white */
        text-align: center; /* Centers the text */
}
    
  
 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}  
  .fade-in {
    opacity: 0; /* Start invisible */
    animation: fadeIn 2s ease forwards; /* Animation properties */
    animation-delay: 1s; /* Delay before starting */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
        transform: translateY(20px); /* Optional: Start slightly below */
    }
    to {
        opacity: 1; /* End with opacity 1 */
        transform: translateY(0); /* Move to original position */
    }
}
 
  